{% extends 'base.html' %}

{% load bootstrap %}

{% block main %}
    <h1>Atualizar</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
			<label for="Equipamento" class="label label-primary">{{ form.caixa|bootstrap }}</label>
        	<label class="label label-primary">{{ form.name|bootstrap }}</label>
        	<label class="label label-primary">{{ form.location|bootstrap }}</label> 
        	<button type="submit" class="btn btn-primary">Atualizar</button>
    </form>
    

{% endblock %}