{% extends 'base.html' %}

{% block main %}


<div class="list-group">
	<a href="#" class="list-group-item list-group-item-action active">
		Dados
	</a>
	<a href="" class="list-group-item list-group-item-action"><b>Modelo:</b>
		{{ object.name }}</a>
	<a href="" class="list-group-item list-group-item-action"><b>MAC:</b>
		{{ object.mac }}</a>
	<a href="" class="list-group-item list-group-item-action"><b>Bairro:</b>
		{{ object.bairro }}</a>
	<a href="" class="list-group-item list-group-item-action"><b>Rua:</b>
		{{ object.rua }}</a>
	<a href="" class="list-group-item list-group-item-action"><b>Número:</b>
		{{ object.numero  }}</a>

</div>

<br>
					
	<a href="{% url 'equipaments_update' object.pk %}" class="btn btn-success">Atualizar</a>
	<a href="{% url 'equipaments_delete' object.pk %}" class="btn btn-danger">Apagar</a>
	<a href="{% url 'equipaments_create' %}" class="btn btn-primary">Novo</a>

{% endblock %}

